<%= form_for(principle) do |f| %>
  <% if principle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(principle.errors.count, "error") %> prohibited this principle from being saved:</h2>

      <ul>
      <% principle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :team_id %>
    <%= f.number_field :team_id %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :index %>
    <%= f.number_field :index %>
  </div>

  <div class="field">
    <%= f.label :principle_explain %>
    <%= f.text_area :principle_explain %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
