<p id="notice"><%= notice %></p>

<h1>Principles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Content</th>
      <th>Index</th>
      <th>Principle explain</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @principles.each do |principle| %>
      <tr>
        <td><%= principle.name %></td>
        <td><%= principle.team_id %></td>
        <td><%= principle.content %></td>
        <td><%= principle.index %></td>
        <td><%= principle.principle_explain %></td>
        <td><%= link_to 'Show', principle %></td>
        <td><%= link_to 'Edit', edit_principle_path(principle) %></td>
        <td><%= link_to 'Destroy', principle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Principle', new_principle_path %>
