%p#notice= notice
%h1 Principles
%table
  %thead
    %tr
      %th Name
      %th Team
      %th Content
      %th Index
      %th Principle explain
      %th{:colspan => "3"}
  %tbody
    - @principles.each do |principle|
      %tr
        %td= principle.name
        %td= principle.team_id
        %td= principle.content
        %td= principle.index
        %td= principle.principle_explain
        %td= link_to 'Show', principle
        %td= link_to 'Edit', edit_principle_path(principle)
        %td= link_to 'Destroy', principle, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Principle', new_principle_path
