<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @principle.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @principle.team_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @principle.content %>
</p>

<p>
  <strong>Index:</strong>
  <%= @principle.index %>
</p>

<p>
  <strong>Principle explain:</strong>
  <%= @principle.principle_explain %>
</p>

<%= link_to 'Edit', edit_principle_path(@principle) %> |
<%= link_to 'Back', principles_path %>
